body{
    padding: 0px;
    margin: 0px;
}

.container {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
}

h1{
    background-color: #e7e7e7;
    text-align: center;
    margin: auto;
    padding: 10px;
}